/**
 * This file holds the declaration of the fonts used in our layout.
 */


@font-face {
    font-family: 'Century Schoolbook';
    src: url('/fonts/texgyreschola-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('/fonts/texgyreschola-italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('/fonts/texgyreschola-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('/fonts/texgyreschola-bolditalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Bagnard';
    src: url('/fonts/bagnard-webfont.eot');
    src: url('/fonts/bagnard-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bagnard-webfont.woff2') format('woff2'),
         url('/fonts/bagnard-webfont.woff') format('woff'),
         url('/fonts/bagnard-webfont.ttf') format('truetype'),
         url('/fonts/bagnard-webfont.svg#bagnardregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Erbar condensed';
    src: url('/fonts/erbar-boldcondensed-webfont.eot');
    src: url('/fonts/erbar-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/erbar-boldcondensed-webfont.woff2') format('woff2'),
         url('/fonts/erbar-boldcondensed-webfont.woff') format('woff'),
         url('/fonts/erbar-boldcondensed-webfont.ttf') format('truetype'),
         url('/fonts/erbar-boldcondensed-webfont.svg#erbarboldcondensed') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Erbar condensed';
    src: url('/fonts/erbar-lightcondensed-webfont.eot');
    src: url('/fonts/erbar-lightcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/erbar-lightcondensed-webfont.woff2') format('woff2'),
         url('/fonts/erbar-lightcondensed-webfont.woff') format('woff'),
         url('/fonts/erbar-lightcondensed-webfont.ttf') format('truetype'),
         url('/fonts/erbar-lightcondensed-webfont.svg#erbarlightcondensed') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face{
  font-family: 'Erbarre';
  src: url('/fonts/ErbarreRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Erbarre';
  src: url('/fonts/ErbarreBold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Erbarre';
  src: url('/fonts/ErbarreOblique.ttf');
  //font-weight: bold;
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Erbarre';
  src: url('/fonts/ErbarreBoldOblique.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
    font-family: 'Belgika5th';
    src: url('/fonts/belgika-5th-webfont.eot');
    src: url('/fonts/belgika-5th-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/belgika-5th-webfont.woff2') format('woff2'),
         url('/fonts/belgika-5th-webfont.woff') format('woff'),
         url('/fonts/belgika-5th-webfont.ttf') format('truetype'),
         url('/fonts/belgika-5th-webfont.svg#belgika5th') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belgika8th';
    src: url('/fonts/belgika-8th-webfont.eot');
    src: url('/fonts/belgika-8th-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/belgika-8th-webfont.woff2') format('woff2'),
         url('/fonts/belgika-8th-webfont.woff') format('woff'),
         url('/fonts/belgika-8th-webfont.ttf') format('truetype'),
         url('/fonts/belgika-8th-webfont.svg#belgika8th') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belgika16th';
    src: url('/fonts/belgika-16th-webfont.eot');
    src: url('/fonts/belgika-16th-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/belgika-16th-webfont.woff2') format('woff2'),
         url('/fonts/belgika-16th-webfont.woff') format('woff'),
         url('/fonts/belgika-16th-webfont.ttf') format('truetype'),
         url('/fonts/belgika-16th-webfont.svg#belgika16th') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belgika40th';
    src: url('/fonts/belgika-40th-webfont.eot');
    src: url('/fonts/belgika-40th-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/belgika-40th-webfont.woff2') format('woff2'),
         url('/fonts/belgika-40th-webfont.woff') format('woff'),
         url('/fonts/belgika-40th-webfont.ttf') format('truetype'),
         url('/fonts/belgika-40th-webfont.svg#belgika40th') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alfphabet-Condensed';
    src: url('/fonts/alfphabetbipocat-condensed-webfont.eot');
    src: url('/fonts/alfphabetbipocat-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/alfphabetbipocat-condensed-webfont.woff') format('woff'),
         url('/fonts/alfphabetbipocat-condensed-webfont.ttf') format('truetype'),
         url('/fonts/alfphabetbipocat-condensed-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alfphabet-Condensed';
    src: url('/fonts/Alfphabet-Condensed-oblique.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Alfphabet';
    src: url('/fonts/Alfphabet_type1.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medor';
    src: url('/fonts/medor-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'career';
    src: url('/fonts/Career.otf') format('opentype'),
}


@font-face {
    font-family: 'urw-grotesk-t';
    src: url('/fonts/urwgroteskt-bold-webfont.eot');
    src: url('/fonts/urwgroteskt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/urwgroteskt-bold-webfont.woff') format('woff'),
         url('/fonts/urwgroteskt-bold-webfont.ttf') format('truetype'),
         url('/fonts/urwgroteskt-bold-webfont.svg#urw_grotesk_tbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers else';
    src: url('/fonts/universelse-bold-webfont.eot');
    src: url('/fonts/universelse-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/universelse-bold-webfont.woff2') format('woff2'),
         url('/fonts/universelse-bold-webfont.woff') format('woff'),
         url('/fonts/universelse-bold-webfont.ttf') format('truetype'),
         url('/fonts/universelse-bold-webfont.svg#univers_elsebold_') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers else';
    src: url('/fonts/universelse-light-webfont.eot');
    src: url('/fonts/universelse-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/universelse-light-webfont.woff2') format('woff2'),
         url('/fonts/universelse-light-webfont.woff') format('woff'),
         url('/fonts/universelse-light-webfont.ttf') format('truetype'),
         url('/fonts/universelse-light-webfont.svg#univers_elselight_') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Univers else';
    src: url('/fonts/universelse-regular-webfont.eot');
    src: url('/fonts/universelse-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/universelse-regular-webfont.woff2') format('woff2'),
         url('/fonts/universelse-regular-webfont.woff') format('woff'),
         url('/fonts/universelse-regular-webfont.ttf') format('truetype'),
         url('/fonts/universelse-regular-webfont.svg#univers_elseregular_') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'AyahuascaDemi';
  src: url('/fonts/AyahuascaDemi.ttf');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'WorkMedor';
  src: url('/fonts/WorkAvec-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'WorkMedor';
  src: url('/fonts/WorkAvec-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Belogodor';
  src: url('/fonts/Belogodor.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nobel';
  src: url('/fonts/Font-Bureau-Nobel-Book.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nobel';
  src: url('/fonts/Font-Bureau-Nobel-BookItalic.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Nobel';
  src: url('/fonts/DTLNobelT-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nobel-bold';
  src: url('/fonts/DTLNobelT.ttf');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Crickx';
  src: url('/fonts/CrickxSharkCut.ttf');
  font-weight: normal;
  font-style: normal;
}
